<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Site Web</title>
    <script src="{{url_for('static', filename='scripts/fetch.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/requete.js')}}"></script>
</head>

<body>
    <header>
        <h1>Mon Site Web</h1>
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">À propos</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Section 1</h2>
            <p>Ceci est un exemple de contenu dans la section 1.</p>
        </section>

        <section>
            <h2>Section 2</h2>
            <p>Ceci est un exemple de contenu dans la section 2.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Mon Site Web. Tous droits réservés.</p>
    </footer>
</body>

</html>
