<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quiz test api</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/quiz.css')}}">
        <script src="{{url_for('static', filename='jquery-3.7.1.min.js')}}"></script>
    </head>
    <body>
        <h1>Liste des Quiz</h1>

        <div id="all-quiz"></div>
    
    
        <div id="questions-div"></div>
        
    
        <script src="{{url_for('static', filename='scripts/fetch.js')}}"></script>





    </body>
</html>
