body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Couleur de fond */
}

h1 {
    text-align: center;
    color: #007bff; /* Couleur du titre */
    margin-top: 20px;
}

#all-quiz {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.quiz-item {
    border: 1px solid #ced4da; /* Couleur de la bordure */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff; /* Couleur de fond */
    transition: box-shadow 0.3s ease; /* Animation de l'ombre */
}

.quiz-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre au survol */
}

.quiz-item a {
    text-decoration: none;
    color: #007bff; /* Couleur du lien */
}

.quiz-item a:hover {
    text-decoration: underline;
}

.quiz-list {
    list-style-type: none;
    padding: 0;
}

.quiz-link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.quiz-link:hover {
    color: #007bff; /* Couleur de survol */
}

#questions-div {
    margin-top: 20px;
}

.question-list {
    list-style-type: none;
    padding: 0;
}

.question-item {
    background-color: #fff0f0;
    color: #333; /* Couleur du texte */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease; /* Animation de fond */
    padding-left: 4vw;
}

.question-item:hover {
    background-color: #e7bebe;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 3vw;
}

.delete-button:hover {
    background-color: #c82333; /* Couleur du bouton au survol */
}

@media screen and (max-width: 500px) {
    .question-item {
        text-align: center;
    }
    #all-quiz,h2 {
        margin-left: 6vw;
    }

    
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="number"] {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

input[type="submit"] {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff; /* Couleur du bouton */
    color: #fff; /* Couleur du texte */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animation de fond */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Couleur du bouton au survol */
}

.enflex{
    display: flex;
    justify-content: space-between;
}

.modifier-button{
    background-color: green;}